{% extends 'base.html' %} {% load static %}
<html class="no-js" lang="zxx">
  <head> </head>

  <body>
    {% block body %}
    <!-- slider_area_start -->
    <div class="slider_area">
      <div class="single_slider d-flex align-items-center slider_bg_1 overlay2">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="slider_text text-center">
                <h4 style="color: white; padding-top: 55px">Registration</h4>
              </div>
            </div>
          </div>
          <section cl-ass="vh-100 gradient-custom">
            <div class="container py-5 h-100">
              <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                  <div
                    class="card shadow-2-strong card-registration"
                    style="border-radius: 15px; background-color: rgba(255, 255, 255, 0.8);"
                  >
                    <div class="card-body p-4 p-md-5">
                      <form method="post" action="">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              <input
                                type="text"
                                id="firstName"
                                class="form-control form-control-lg"
                                name="Fname"
                              />
                              <label class="form-label" for="firstName"
                                >First Name</label
                              >
                            </div>
                          </div>
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              <input
                                type="text"
                                id="lastName"
                                class="form-control form-control-lg"
                                name="Lname"
                              />
                              <label class="form-label" for="lastName"
                                >Last Name</label
                              >
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6 mb-4 d-flex align-items-center">
                            <script>
                              function check_dob() {
                                var rege = /^\d{2}-\d{2}-\d{4}$/;
                                var DOB =
                                  document.getElementById("birthdayDate").value;
                                if (rege.test(DOB)) {
                                  var date = new Date();
                                  var dob_date = new Date(DOB);
                                  //console.log(date.getFullYear(),dob_date.getFullYear())
                                    if ((date.getFullYear() > dob_date.getFullYear()) & (dob_date.getFullYear() > 1900)) {
                                      document.getElementById("msg").innerText = ""
                                      return true;
                                    } else {
                                      document.getElementById("msg").innerText =
                                        "Enter Proper date";
                                      return false;
                                    }
                                } else {
                                  document.getElementById("msg").innerText =
                                    "Enter Proper date !!";
                                  return false;
                                }
                              }
                            </script>
                            <div class="form-outline datepicker w-100">
                              <input
                                type="text"
                                class="form-control form-control-lg"
                                id="birthdayDate"
                                name="Dob"
                                onfocusout="check_dob()"
                              />
                              <label for="birthdayDate" class="form-label"
                                >Birthday Must Be in DD-MM-YYYY</label
                              >
                              <span id="msg"></span>
                            </div>
                          </div>
                          <div class="col-md-6 mb-4">
                            <h6 class="mb-2 pb-1">Gender:</h6>

                            <div class="form-check form-check-inline">
                              <input
                                class="form-check-input"
                                type="radio"
                                name="Gender"
                                id="femaleGender"
                                value="Female"
                                checked
                              />
                              <label class="form-check-label" for="femaleGender"
                                >Female</label
                              >
                            </div>

                            <div class="form-check form-check-inline">
                              <input
                                class="form-check-input"
                                type="radio"
                                name="Gender"
                                id="maleGender"
                                value="Male"
                              />
                              <label class="form-check-label" for="maleGender"
                                >Male</label
                              >
                            </div>

                            <div class="form-check form-check-inline">
                              <input
                                class="form-check-input"
                                type="radio"
                                name="Gender"
                                id="otherGender"
                                value="Other"
                              />
                              <label class="form-check-label" for="otherGender"
                                >Other</label
                              >
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6 mb-4 pb-2">
                            <script>
                              function emailcheck() {
                                email_validate =
                                  /^[a-zA-Z0-9._-]+@[a-zA-Z0-9._s]+.[a-zA-Z]{2,4}$/;
                                var mail =
                                  document.getElementById("emailAddress").value;
                                console.log(mail);
                                if (email_validate.test(mail)) {
                                  document.getElementById(
                                    "email_verify"
                                  ).innerText = "";
                                } else {
                                  document.getElementById(
                                    "email_verify"
                                  ).innerText = "Please Enter Proper Email !";
                                }
                              }
                            </script>
                            <div class="form-outline">
                              <input
                                type="email"
                                onfocusout="emailcheck()"
                                id="emailAddress"
                                class="form-control form-control-lg"
                                name="Mail"
                              />
                              <label class="form-label" for="emailAddress"
                                >Email</label
                              >
                              <span id="email_verify"></span>
                            </div>
                          </div>
                          <div class="col-md-6 mb-4 pb-2">
                            <script>
                              function mobilecheck() {
                                var mobile =
                                  document.getElementById("phoneNumber").value;
                                console.log(mobile);
                                number = /^[0-9]/;
                                if (number.test(mobile)) {
                                  if (mobile.length >= 10) {
                                    document.getElementById("phone").innerText = ""
                                    return true;
                                  } else {
                                    document.getElementById("phone").innerText =
                                      " Please Enter Proper Mobile Number !";
                                    return false;
                                  }
                                } else {
                                  document.getElementById("phone").innerText =
                                    " Please Enter Proper Mobile Number !";
                                  return false;
                                }
                              }
                            </script>
                            <div class="form-outline">
                              <input
                                type="tel"
                                id="phoneNumber"
                                class="form-control form-control-lg"
                                name="MobileNumber"
                                onfocusout="mobilecheck()"
                              />
                              <label class="form-label" for="phoneNumber"
                                >Phone Number</label
                              >
                              <span id="phone"></span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 mb-4 pb-2">
                            <div class="form-outline">
                              <input
                                type="password"
                                id="password"
                                class="form-control form-control-lg"
                                name="Password"
                              />
                              <label class="form-label" for="password"
                                >Password
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6 mb-4 pb-2">
                            <div class="form-outline">
                              <input
                                type="password"
                                id="cpassword"
                                class="form-control form-control-lg"
                                name="Cpassword"
                              />
                              <label class="form-label" for="Cpassword">
                                Confirm Password
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-10">
                            <select
                              class="select form-control-lg"
                              name="User_Type"
                            >
                              <option value="2">Admin</option>
                              <option value="3">Musician</option>
                              <option value="1">User</option>
                            </select>
                            <label class="form-label select-label"
                              >Choose option</label
                            >
                          </div>
                        </div>

                        <div class="mt-4 pt-2">
                          <input
                            class="btn btn-primary btn-lg"
                            type="submit"
                            value="Signup"
                          />
                          {% comment %} <input
                            class="btn btn-primary btn-lg"
                            type="submit"
                            value="Login"
                          /> {% endcomment %}
                        </div>
                      </form>
                      <style>
                        .btn-primary {
                          background: linear-gradient(to right, #3366ff, #00ccff); /* Gradient background */
                          border: 2px solid #00b3ff; /* Blue border */
                          border-radius: 25px; /* Rounded corners */
                          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Soft shadow */
                          font-family: 'Roboto', sans-serif; /* Modern font */
                          font-size: 16px; /* Adjust font size as needed */
                          color: #fff; /* White text */
                          padding: 12px 20px; /* Adjust padding for spacing */
                          cursor: pointer; /* Hand cursor on hover */
                          transition: all 0.3s ease-in-out; /* Smooth transitions */
                        }
                        
                        .btn-primary:hover {
                          background-color: #00b3ff; /* Lighter gradient on hover */
                          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
                        }                
                        label {
                          color:#000000;
                        }
                      </style>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
